* {
	box-sizing: 0;
	margin: 0;
	padding: 0;
}
:root {
	--gallow-color: black;
	--text-color: #fff;
}
body {
	background: url(./img/4.jpeg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.game {
	display: none;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.enter-password {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.enter-password input {
	margin-top: 2rem 0;
	font-size: 24px;
	border-radius: 5px;
	text-align: center;
	padding: 0.3rem;
	margin-top: 20px;
	z-index: 2;
}
.enter-password input::placeholder {
	color: salmon;
	font-size: 1rem;
}
.enter-password label {
	font-size: 20px;
	margin-top: 20px;
	z-index: 2;
	color: var(--text-color);
}
.descripe-area {
	display: none;
	justify-content: center;
	align-items: center;
	height: 200px;
	font-size: 28px;
	color: var(--text-color);
}
.hangman {
	display: none;
	position: relative;
	width: 50%;
	height: 50%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.head {
	height: 50px;
	width: 50px;
	position: relative;
	top: 10px;
	background-color: var(--gallow-color);
	border-radius: 50%;
	display: inline-block;
}
.neck {
	height: 12.5px;
	width: 12.5px;
	background-color: var(--gallow-color);
	display: inline-block;
}
.body {
	display: flex;
	flex-direction: row;
	position: relative;
	height: 100px;
	width: 50px;
	display: inline-block;
}
.chest {
	position: relative;
	height: 100px;
	width: 50px;
	background-color: var(--gallow-color);
	border-radius: 20%;
	display: inline-block;
}
.right-hand {
	position: relative;
	top: -108px;
	right: -66px;
	height: 75px;
	width: 10px;
	transform: rotate(-45deg);
	background-color: var(--gallow-color);
	display: inline-block;
	border-radius: 20%;
}
.left-hand {
	position: relative;
	top: -108px;
	left: -40px;
	height: 75px;
	width: 10px;
	transform: rotate(45deg);
	background-color: var(--gallow-color);
	display: inline-block;
	border-radius: 20%;
}
.left-leg {
	position: relative;
	top: -10px;
	right: -20px;
	height: 75px;
	width: 10px;
	transform: rotate(-15deg);
	background-color: var(--gallow-color);
	display: inline-block;
	border-radius: 20%;
}
.right-leg {
	position: relative;
	top: -10px;
	left: -20px;
	height: 75px;
	width: 10px;
	transform: rotate(15deg);
	background-color: var(--gallow-color);
	display: inline-block;
	border-radius: 20%;
}
.gallows {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
}
.gallows-right {
	position: relative;
	width: 10px;
	height: 100%;
	right: -65%;
	background-color: var(--gallow-color);
}
.gallows-top {
	margin-left: 35%;
	position: relative;
	top: -302px;
	width: 30%;
	height: 10px;
	background-color: var(--gallow-color);
}
.rope {
	position: relative;
	top: 10px;
	width: 5px;
	height: 60px;
	background-color: var(--gallow-color);
}
.gallows-part {
	opacity: 0;
}

.password {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: var(--text-color);
}
.letter {
	font-size: 3rem;
	margin: 0 20px;
	opacity: 0;
	background-color: var(--gallow-color);
}
.show-animation {
	animation: show-animation 1s forwards;
}
.letter-line {
	position: relative;
}
.line {
	position: relative;
	width: 80%;
	margin: 0 10%;
	height: 3px;
	background-color: black;
}
.letter-input {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 6rem;
}

.letter-input input {
	width: 50px;
	height: 50px;
	font-size: 2rem;
	border-radius: 5px;
	padding: auto;
	text-align: center;
}
.lose,
.win {
	position: absolute;
	text-align: center;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 40px;
	color: #fff;
}
.win {
	display: none;
	opacity: 0;
	z-index: 10;
}
.lose {
	display: none;
	position: absolute;
	z-index: 10;
}
.enter-password button,
.lose button,
.win button,
.change-password,
.back {
	font-size: 20px;
	margin-top: 15px;
	padding: 0.7rem 1.5rem;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.4s, color 0.4s;
	z-index: 2;
}
.enter-password button:hover,
.lose button:hover,
.win button:hover,
.change-password:hover,
.back:hover {
	background-color: rgb(27, 48, 169);
	color: #fff;
}
.show {
	opacity: 1;
	display: flex;
}
.button-box {
	display: flex;
	width: 50%;
	justify-content: space-around;
}
@keyframes show-animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@media only screen and (max-width: 337px) {
	.letter-input {
		margin-top: 1.3rem;
	}
}
@media only screen and (max-width: 667px) {
	.descripe-area {
		height: 100px;
		text-align: center;
		font-size: 1.5rem;
	}
	.enter-password input {
		font-size: 1.3rem;
		padding: 0.2rem;
		margin-bottom: 1rem;
	}
	.letter {
		font-size: 1.5rem;
		margin: 0 5px;
	}
	.password {
		padding: 0 50px;
	}
	.letter-input {
		margin-top: 4rem;
	}
	.letter-input input {
		width: 30px;
		height: 25px;
		font-size: 1rem;
	}
	.button-box {
		width: 90%;
		margin-top: 10px;
		/* justify-content: space-around; */
	}
	.enter-password button,
	.lose button,
	.win button,
	.change-password,
	.back {
		font-size: 1rem;
		margin: 5px 0 10px;
		padding: 0.5rem 0.7rem;
	}
	.gallows-right {
		right: -80%;
	}
	.gallows-top {
		margin-left: 25%;
		position: relative;
		top: -302px;
		width: 55%;
		height: 10px;
	}
}
